server:
  port: 8080

spring:
  application:
    name: hams
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
        group-id: hams-group
        auto-offset-reset: earliest


  datasource:
    url: jdbc:postgresql://localhost:5432/hamsdb
    username: postgres
    password: Sansy889
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: Kumarisanskriti889@gmail.com
    password: mecsaxbhplrufgvf
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  devtools:
    restart:
      enabled: true

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.springframework.mail: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    config-url: /v3/api-docs/swagger-config
    url: /v3/api-docs



